*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #636363;
    line-height: 160%;
}

/* Custom  scrollbar */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color-white);
    caret-color: var(--text-color-white);
}

/* =============================================== Common =============================================== */
a {
    text-decoration: none;
}

a,
button,
input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* min-width: 175px; */
    height: 60px;
    color: #fff;
    padding: 0 20px;
    font-weight: 500;
    border-radius: 999px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    background-color: #4158d0;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    transition: all 0.3s;
}

.btn:hover {
    background-position: right center;
}

.sub-title {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #f55f8d;
}

.heading {
    font-size: 7rem;
    line-height: 120%;
    font-weight: 700;
    color: #262626;
}

.heading-lv2 {
    font-size: 6.3rem;
}

.heading-lv3 {
    font-size: 2.4rem;
}

.desc {
    color: #636363;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

/* =============================================== Header =============================================== */
.header {
    padding: 35px 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
    padding: 0 35px;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__item {
    display: flex;
    align-items: center;
    position: relative;
    color: #070120;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    transition: color 0.2s;
}

.navbar__link {
    padding: 10px 18px;
}

.navbar__item:hover {
    color: #f55f8d;
}

.navbar__arrow {
    width: 10px;
    height: 13px;
    margin-left: -5px;
    transform: translateX(50%) translateY(10%);
    transition: filter, transform 0.2s;
}

.navbar__item:hover .navbar__arrow {
    filter: invert(57%) sepia(83%) saturate(2407%) hue-rotate(306deg) brightness(97%) contrast(99%);
    transform: rotate(90deg) translateY(-50%) translateX(10%);
}

/* =============================================== Hero =============================================== */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/bg1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 50%;
}

.hero__heading {
    margin-bottom: 30px;
}

.hero__article {
    margin: 25px 0;
}

.hero__article__item {
    position: relative;
    padding: 15px 50px;
    font-size: 1.8rem;
    font-weight: 500;
}

.hero__article__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    background: linear-gradient(0deg, rgba(245, 95, 141, 1) 0%, rgba(248, 174, 86, 1) 51%);
    border-radius: 50%;
    transform: translateY(-50%);
}

.hero__article__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 46%;
    left: 9px;
    width: 18px;
    height: 9px;
    border: 2px solid #ffffff;
    transform: translateY(-50%) rotate(-45deg);
    border-top: none;
    border-right: none;
}

.hero__media {
    width: 50%;
}

.hero__media-wrap {
    position: relative;
    width: 100%;
    transform: translate(15%, 2%);
}

.hero__media-image {
    width: 100%;
    vertical-align: bottom;
}

.hero__media-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(0deg, rgba(245, 95, 141, 1) 0%, rgba(248, 174, 86, 1) 51%);
    z-index: -1;
    border-radius: 50px;
}

/* =============================================== Service =============================================== */
.service {
    padding: 50px 0;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.service__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.service__content {
    margin-top: 20px;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.service__item {
    padding: 30px 45px;
    background-color: #ffffff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: transform 0.5s;
}

.service__item:hover {
    transform: translateY(-20px);
    border-image: url(../img/service-br.png) 0.5% round;
}

.service__item-img {
    width: 74.14%;
    vertical-align: bottom;
}

.service__item-heading {
    padding: 22px 0;
    margin-bottom: 0;
}

/* =============================================== About =============================================== */
.about {
    padding: 50px 0;
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__media {
    width: 50%;
}

.about__media-wrap {
    width: 120%;
    transform: translateX(-28%);
    border: 0 50px 50px 0;
}

.about__media-image {
    width: 100%;
    border-radius: 0 100px 100px 0;
    vertical-align: bottom;
}

.about__content {
    width: 50%;
}

.about__heading {
    margin-bottom: 30px;
}

.about__article {
    margin-bottom: 20px;
}

.about__article__list {
    display: flex;
    flex-direction: column;
}

.about__article__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 10px 0;
    font-weight: 500;
}

.about__article__item-icon {
    width: 25px;
    filter: invert(49%) sepia(50%) saturate(653%) hue-rotate(292deg) brightness(96%) contrast(100%);
}

/* =============================================== Stats =============================================== */
.stats {
    margin: 50px 0;
    padding: 60px 0;
    background-image: url("../img/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.stats__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 160px;
}

.stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__item-icon-wrap {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats__item-icon {
    width: 56.25%;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
    fill: black;
    stroke: black;
    stroke-width: 20;
}

.stats__item-qty {
    width: 180px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    font-size: 6.5rem;
    font-weight: 700;
    color: #f55f8d;
    line-height: 100%;
}

.stats__item-desc {
    margin-bottom: 0;
    color: #262626;
    font-size: 1.8rem;
}

/* =============================================== Features =============================================== */
.feature {
    padding: 50px 0;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.feature__inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.feature-heading {
    margin-bottom: 30px;
}

.feature__content {
    width: 50%;
}

.feature__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.feature__item {
    position: relative;
    width: 91.7%;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    border-radius: 10px;
    column-gap: 30px;
    overflow: hidden;
}

.feature__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
}

.feature__item:hover {
    background-color: transparent;
}

.feature__item:hover::after {
    opacity: 1;
}

.feature__item:nth-child(2) {
    align-self: flex-end;
}

.feature__item-icon {
    width: 80px;
    height: 83px;
    filter: invert(52%) sepia(38%) saturate(1137%) hue-rotate(298deg) brightness(98%) contrast(97%);
    transition: filter 1s;
}

.feature__item:hover .feature__item-icon {
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

.feature__item-heading {
    margin-bottom: 5px;
    transition: color 1s;
}

.feature__item:hover .feature__item-heading {
    color: #fff;
}

.feature__item-desc {
    margin-bottom: 0;
    font-size: 1.6rem;
    transition: color 0.8s;
}

.feature__item:hover .feature__item-desc {
    color: #fff;
}

.feature__media {
    width: 50%;
}

.feature__media-wrap {
    width: 100%;
}

.feature__media-image {
    width: 100%;
    animation: move1 3s infinite;
}

/* =============================================== Portfolio =============================================== */
.portfolio {
    padding: 50px 0;
    background-image: url("../img/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio__inner {
    padding: 30px 0;
}

.portfolio__title {
    text-align: center;
    margin-bottom: 30px;
}

.portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio__item {
    position: relative;
    overflow: hidden;
}

.portfolio__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    display: inline-flex;
    width: 35%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.7s;
    z-index: 1;
}

.portfolio__item:hover::before {
    left: 128%;
}

.portfolio__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.portfolio__item:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

.portfolio__item:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.portfolio__item:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.portfolio__item:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}

.portfolio__item:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
}

.portfolio__item-wrap {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.portfolio__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.portfolio__overlay {
    padding: 22px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__overlay-icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    border-radius: 10px;
    transition: all 0.5s;
}

.portfolio__overlay-icon-wrap:hover {
    transform: scale(95%);
}

.portfolio__item:hover .portfolio__overlay-icon-wrap {
    top: 25px;
    right: 25px;
}

.portfolio__overlay-icon {
    width: 22px;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

.portfolio__overlay-info {
    position: absolute;
    left: 35px;
    bottom: -80px;
    transition: all 0.5s;
}

.portfolio__item:hover .portfolio__overlay-info {
    bottom: 20px;
}

.portfolio__item-heading,
.portfolio__item-desc {
    color: #ffffff;
}

.portfolio__item-heading {
    font-size: 2.2rem;
}

.portfolio__item-desc {
    font-size: 1.6rem;
    opacity: 0.7;
}

/* =============================================== Blog =============================================== */
.blog {
    padding: 50px 0 30px;
    background-image: url("../img/bg6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blog__title {
    text-align: center;
    margin-bottom: 30px;
}

.blog__list {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    margin-bottom: 50px;
}

.blog__item {
    background-color: #feedeb;
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
}

.blog__item-media {
    width: 100%;
    height: 220px;
}

.blog__item-img-wrap {
    width: 100%;
    height: 100%;
}

.blog__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.blog__item-img-wrap:hover .blog__item-img {
    transform: scale(1.02, 1.02);
}

.blog__item-content {
    position: relative;
    padding: 40px 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__item-date {
    position: absolute;
    top: -22px;
    max-width: 145px;
    height: 44px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    font-size: 1.4rem;
    color: #feedeb;
    border-radius: 8px;
}

.blog__item-heading {
    margin-bottom: 10px;
}

.blog__item-desc {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.blog__item-info,
.blog__item-author,
.blog__item-comment {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.blog__item-info {
    padding: 15px;
    column-gap: 30px;
}

.blog__item-author,
.blog__item-comment {
    font-size: 1.4rem;
}

.blog__item-icon {
    width: 20px;
    height: 20px;
    filter: invert(55%) sepia(93%) saturate(1319%) hue-rotate(303deg) brightness(92%) contrast(108%);
}

.blog__item-author-name {
    color: #f55f8d;
}

/* =============================================== Portfolio =============================================== */
.footer {
    position: relative;
    background-image: url(../img/bg7.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #0e1b1f;
}

.footer::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/footer-bg2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
}

.footer__top {
    position: relative;
    padding: 50px 60px;
    background-image: url(../img/footer-bg1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__top-heading {
    font-size: 2.8rem;
}

.footer__form {
    display: flex;
    align-items: center;
    width: 50%;
    height: 67px;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer__form-input,
.btn-footer {
    border: none;
    outline: none;
}

.footer__form-input {
    height: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-right: none;
    border-radius: 8px 0 0 8px;
    font-size: 1.5rem;
    flex-grow: 1;
    transition: all 0.4s;
}

.footer__form-input:hover,
.footer__form-input:focus {
    border-color: #f55f8d;
}

.btn-footer {
    min-width: 94px;
    height: 100%;
    border-radius: 0 8px 8px 0;
}

.btn-footer-icon {
    width: 18px;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

.btn-footer:hover .btn-footer-icon {
    animation: move2 0.5s forwards;
}

.footer__bottom {
    position: relative;
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.footer__info {
    padding: 10px 0;
}

.footer__info-item {
    padding: 8px 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer__info-icon-wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.footer__info-icon {
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

.footer__heading {
    position: relative;
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 10px;
    color: #fff;
}

.footer__heading::before,
.footer__heading::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 4px;
    bottom: 0;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    border-radius: 2px;
}

.footer__heading::before {
    width: 15px;
    left: 0;
}

.footer__heading::after {
    width: 45px;
    left: 20px;
}

.footer__link-list {
    margin-top: 30px;
}

.footer__link-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer__link-icon {
    rotate: -90deg;
    width: 14px;
    height: 100%;
    filter: invert(79%) sepia(0%) saturate(0%) hue-rotate(53deg) brightness(92%) contrast(90%);
}

.footer__link {
    padding: 8px 0;
    color: rgb(180, 180, 180);
    transition: color 0.3s;
}

.footer__link:hover {
    color: white;
    font-weight: 500;
}

.footer__copyright {
    position: relative;
    padding: 10px 0;
    background-color: #1f343b;
}

.footer__info-content {
    color: #ffffff;
    font-size: 1.5rem;
}

.footer__copyright-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright-desc {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.footer__copyright-desc span {
    color: #f55f8d;
}

.footer__contact-list {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer__contact-item {
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.footer__contact-item:hover {
    background-color: #f55f8d;
}

.footer__contact-item-icon {
    height: 14px;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

/* =============================================== Back To Top =============================================== */
.backToTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f55f8d;
    border-radius: 10px;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 999;
}

.backToTop-icon {
    width: 18px;
    rotate: 180deg;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* =============================================== Keyframes =============================================== */
@keyframes move1 {
    0% {
        rotate: 1deg;
    }

    50% {
        rotate: -1deg;
    }

    100% {
        rotate: 1deg;
    }
}

@keyframes move2 {
    50% {
        transform: translateX(200%);
    }
    51% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
