*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #636363;
    line-height: 160%;
}

html,
body {
    scroll-behavior: smooth;
}

/* Custom  scrollbar */
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

/* =============================================== Common =============================================== */
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 175px;
    height: 60px;
    color: #fff;
    padding: 0 20px;
    font-weight: 500;
    border-radius: 999px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    background-color: #4158d0;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    transition: all 0.3s;
}

.btn:hover {
    background-position: right center;
}

.sub-title {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #f55f8d;
}

.heading {
    font-size: 7rem;
    line-height: 120%;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
}

.heading-lv2 {
    font-size: 6.3rem;
}

.heading-lv3 {
    font-size: 2.4rem;
}

.desc {
    color: #636363;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

/* =============================================== Header =============================================== */
.header {
    padding: 35px 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
    padding: 0 35px;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__item {
    display: flex;
    align-items: center;
    position: relative;
    color: #070120;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    transition: color 0.2s;
}

.navbar__link {
    padding: 10px 18px;
}

.navbar__item:hover {
    color: #f55f8d;
}

.navbar__arrow {
    width: 10px;
    height: 13px;
    margin-left: -5px;
    transform: translateX(50%) translateY(10%);
    transition: filter, transform 0.2s;
}

.navbar__item:hover .navbar__arrow {
    filter: invert(57%) sepia(83%) saturate(2407%) hue-rotate(306deg) brightness(97%) contrast(99%);
    transform: rotate(90deg) translateY(-50%) translateX(10%);
}

/* =============================================== Hero =============================================== */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/bg1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 50%;
}

.hero__article {
    margin: 25px 0;
}

.hero__article__item {
    position: relative;
    padding: 15px 50px;
    font-size: 1.8rem;
    font-weight: 500;
}

.hero__article__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 35px;
    background: linear-gradient(0deg, rgba(245, 95, 141, 1) 0%, rgba(248, 174, 86, 1) 51%);
    border-radius: 50%;
    transform: translateY(-50%);
}

.hero__article__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 46%;
    left: 9px;
    width: 18px;
    height: 9px;
    border: 2px solid #ffffff;
    transform: translateY(-50%) rotate(-45deg);
    border-top: none;
    border-right: none;
}

.hero__media {
    width: 50%;
}

.hero__media-wrap {
    position: relative;
    width: 100%;
    transform: translate(15%, 2%);
}

.hero__media-image {
    width: 100%;
    vertical-align: bottom;
}

.hero__media-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(0deg, rgba(245, 95, 141, 1) 0%, rgba(248, 174, 86, 1) 51%);
    z-index: -1;
    border-radius: 50px;
}

/* =============================================== Service =============================================== */
.service {
    padding: 50px 0;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.service__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__content {
    margin-top: 20px;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.service__item {
    padding: 30px 45px;
    background-color: #ffffff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: transform 0.5s;
}

.service__item:hover {
    transform: translateY(-20px);
    border-image: url(../img/service-br.png) 0.5% round;
}

.service__item-img {
    width: 74.14%;
    vertical-align: bottom;
}

.service__item-heading {
    padding: 22px 0;
    margin-bottom: 0;
}

/* =============================================== About =============================================== */
.about {
    padding: 50px 0;
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__media {
    width: 50%;
}

.about__media-wrap {
    width: 120%;
    transform: translateX(-28%);
    border: 0 50px 50px 0;
}

.about__media-image {
    width: 100%;
    border-radius: 0 100px 100px 0;
    vertical-align: bottom;
}

.about__content {
    width: 50%;
}

.about__article {
    margin-bottom: 35px;
}

.about__article__list {
    display: flex;
    flex-direction: column;
}

.about__article__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 10px 0;
    font-weight: 500;
}

.about__article__item-icon {
    width: 25px;
    filter: invert(49%) sepia(50%) saturate(653%) hue-rotate(292deg) brightness(96%) contrast(100%);
}

/* =============================================== Stats =============================================== */
.stats {
    margin: 50px 0;
    padding: 60px 0;
    background-image: url("../img/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.stats__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 160px;
}

.stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__item-icon-wrap {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats__item-icon {
    width: 56.25%;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
    fill: black;
    stroke: black;
    stroke-width: 20;
}

.stats__item-qty {
    width: 180px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    font-size: 6.5rem;
    font-weight: 700;
    color: #f55f8d;
    line-height: 100%;
}

.stats__item-desc {
    margin-bottom: 0;
    color: #262626;
    font-size: 1.8rem;
}

/* =============================================== Features =============================================== */
.feature {
    padding: 50px 0;
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.feature__inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.feature-heading {
    margin-bottom: 30px;
}

.feature__content {
    width: 50%;
}

.feature__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.feature__item {
    position: relative;
    width: 91.7%;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    border-radius: 10px;
    column-gap: 30px;
    overflow: hidden;
}

.feature__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
}

.feature__item:hover {
    background-color: transparent;
}

.feature__item:hover::after {
    opacity: 1;
}

.feature__item:nth-child(2) {
    align-self: flex-end;
}

.feature__item-icon {
    width: 80px;
    height: 83px;
    filter: invert(52%) sepia(38%) saturate(1137%) hue-rotate(298deg) brightness(98%) contrast(97%);
    transition: filter 1s;
}

.feature__item:hover .feature__item-icon {
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

.feature__item-heading {
    margin-bottom: 5px;
    transition: color 1s;
}

.feature__item:hover .feature__item-heading {
    color: #fff;
}

.feature__item-desc {
    margin-bottom: 0;
    font-size: 1.6rem;
    transition: color 0.8s;
}

.feature__item:hover .feature__item-desc {
    color: #fff;
}

.feature__media {
    width: 50%;
}

.feature__media-wrap {
    width: 100%;
}

.feature__media-image {
    width: 100%;
    animation: move 3s infinite;
}

/* =============================================== Back To Top =============================================== */
.backToTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f55f8d;
    border-radius: 10px;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.backToTop-icon {
    width: 18px;
    rotate: 180deg;
    filter: invert(100%) sepia(93%) saturate(3%) hue-rotate(355deg) brightness(107%) contrast(100%);
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* =============================================== Keyframes =============================================== */
@keyframes move {
    0% {
        rotate: 1deg;
    }

    50% {
        rotate: -1deg;
    }

    100% {
        rotate: 1deg;
    }
}
